/* ===========================================================================
                       **COMMON STYLE**
============================================================================== */
* {
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
   
}
/* ===========================================================================
                       ** Top Section CSS START**
============================================================================== */
.topSection {
    display: flex;
   
}
.main_titel{
    width:50%;
    margin-left:10%;
    margin-top: 90px;
    

}
.main_titel h1 {
    font-size: 40px; 
    
 }
.titelstyle {
    color: orangered;
    font-size: 50px;
}
.fisrtLookImg {
    width:50%;
    margin-right: 5%;
}

.fisrtLookImg img{
    width: 140%;
    
}
.buttonContainer{
    margin-top: 80px;
}
.button{
    font-weight: 700;
    text-decoration: none;
    padding: 20px 45px;
    background: linear-gradient(#ff8b76dc,#ff0000 );
    border-radius: 50px;
    color: #ffffff;
   
    
}
.button:hover {
    background: linear-gradient(#ce03ce, darkblue);
}

.button:active {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    background: #378dff52;
}
/* ===========================================================================
                       ** Top Section CSS END**
============================================================================== */

/* ===========================================================================
                       ** Mid-Section(about us) CSS START**
============================================================================== */
.aboutUsSec{
    display: flex;
    background-image: url(shapes/Frame58.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.aboutUsImg{
    width: 60%;
    /* margin-left:2%; */
}
.aboutUsImg img{
    width: 120%;
    
}
.about_us_text{
    width: 40%;
    margin-right:5%;
}
.aboutUsHeading{
    font-size: 55px;
    color:  #0d0d5f;
    
}

.contractButton {
    font-weight: 700;
    text-decoration: none;
    padding: 20px 45px;
    background: linear-gradient(#ce03ce, #00008b);
    border-radius: 50px;
    color: #ffffff;


}

.contractButton:hover {
   background: linear-gradient(#ff8b76dc, #ff0000);
}

.contractButton:active {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    background: #378dff52;
}



/* ===========================================================================
                       ** Mid-Section(about us) CSS END**
============================================================================== */