/* ===========================================================================
                       **COMMON STYLE**
============================================================================== */
* {
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
   
}
body{
     background-color: rgb(245, 244, 244);
     
     
}
/* ===========================================================================
                       ** Top Section CSS START**
============================================================================== */
.topSection {
    display: flex;
   
}
.main_titel{
    width:50%;
    margin-left:10%;
    margin-top: 90px;
    

}
.main_titel h1:hover {
    transform: translateY(-30px);
    transition: all .5s ease;
}
.main_titel h1 {
    font-size: 40px;
    
    
 }
 

 
.titelstyle {
    color: orangered;
    font-size: 50px;
    
}
.fisrtLookImg {
    width:50%;
    margin-right: 5%;
}

.fisrtLookImg img{
    width: 140%;
    animation-name: first_animation;
    animation-duration: 4s;
    
}
.buttonContainer{
    margin-top: 80px;
    animation-name: first_animation;
    animation-duration: 4s;
    
}
.button{
    font-weight: 700;
    text-decoration: none;
    padding: 20px 45px;
    background: linear-gradient(#ff8b76dc,#ff0000 );
    border-radius: 50px;
    color: #ffffff;
    
   
    
}
.button:hover {
    background: linear-gradient(#ce03ce, darkblue);
}

.button:active {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    background: #378dff52;
}

@keyframes first_animation {
    from {
        transform: scale(.5);
    }

    to {
        transform: scale(1);
    }

}
/* ===========================================================================
                       ** Top Section CSS END**
============================================================================== */

/* ===========================================================================
                       ** Mid-Section(about us) CSS START**
============================================================================== */
.aboutUsSec{
    display: flex;
    background-image: url(shapes/Frame58.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.aboutUsImg{
    width: 60%;
  
}
.aboutUsImg img{
    width: 120%;
    
}
.about_us_text{
    width: 40%;
    margin-right:5%;
}
.aboutUsHeading{
    font-size: 55px;
    color:  #020280;
    
}

.contractButton {
    font-weight: 700;
    text-decoration: none;
    padding: 20px 45px;
    background: linear-gradient(#ce03ce, #00008b);
    border-radius: 50px;
    color: #ffffff;

}

.contractButton:hover {
   background: linear-gradient(#ff8b76dc, #ff0000);
}

.contractButton:active {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    background: #378dff52;
}
/* ===========================================================================
                       ** Mid-Section(about us) CSS END**
============================================================================== */




/* ===========================================================================
                       ** bottom-Section(Our Recipie) CSS START**
============================================================================== */
#recipieSec{
    display: flex;
}
#recipieTitel {
    width: 500px;
    margin: 0 auto;
    text-align:center;
}
.best_recipie{
    font-size: 35px;
    color: #060680;
}

.Recipies {
    width: 20%;
    margin-left: 9%;
    margin-top: 80px;
    margin-bottom: 100px;
    box-shadow: 8px 8px 40px rgb(87, 87, 87);
    padding:15px;
    line-height: 1.5em;
    border-radius: 20px;
}
.Recipies h2{
    font-weight:bolder;
}
.Recipies img{
    width:100%;
    border-radius: 15px;

}
.Recipies:hover {
    transform: translateY(-80px);
    transition: all 1s ease;
}




/* ===========================================================================
                       ** bottom-Section(Our Recipie) CSS END**
==============================================================================*/


footer{
    text-align: center;
    padding: 10px 0px 22px;
    background: rgb(11, 11, 90);
    color: white;
    position: relative;
    margin-bottom: 20px;
   
}
footer span{
    color:orangered;
}
.copyright{
    position: absolute;
    top: 100px;
    left: 11px;
    font-size: 12px;
    color:#cecdcd;
}